.header-box {
  height: 100px;
  background: #ffff;
  img {
    height: 60px;
    width: auto;
  }
  ul {
    width: 650px;
  }
  li {
    font-size: 14px;
    font-family: "微软雅黑";
    cursor: pointer;
    
    &.active {
      color: rgb(26, 70, 161);
    }
  }
}